<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<title>{{ page.title | default:"Joseph Redmon - Survival Strategies for the Robot Rebellion" }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Joseph Redmon">
                <meta name="msvalidate.01" content="305CD82AE65FC4C9597F80416C1271B7" />
		<link rel='stylesheet' media='screen' href='/static/css/base.css' />
		<link rel='stylesheet' media='screen' href='/static/css/darknet.css' />
        <link rel='stylesheet' media='screen' href='/static/css/index.css' />
		<link rel='stylesheet' media='screen' href='/static/css/papers.css' />
		<link rel='stylesheet' media='screen' href='/static/css/projects.css' />
		<link rel='stylesheet' media='screen' href='/static/css/coqindex.css' />

        <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,400italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Roboto:300,300italic,100italic,100,500' rel='stylesheet' type='text/css'>
		<link rel='icon' type='image/png' href='/static/icon.png' />
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37236849-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>

	<body>
		<div class=top>
			<ul class="nav">
				<a href="/"><li>home</li></a>
				<a href="/darknet/"><li class=relative><img id=dncircle src="/static/img/darknet_notext.png"></img>darknet</li></a>
				<a href="/coq-tactics/"><li class=relative><img id=dncircle src="/static/img/coq.png"></img>coq tactics</li></a>
				<a href="/publications/"><li>publications</li></a>
				<a href="/projects/"><li>projects</li></a>
				<a href="/resume/"><li>résumé</li></a>
			</ul>
			<div class=break></div>
			<div class=break></div>
		</div>
        <div class="container main">
        {{ content }}
        </div>

	</body>
</html>
